.resultTable-contents {
  width: 100%;
  height: auto;
  padding: 5px 0 3px 20px;
  //   background: pink;

  tr {
    td:nth-child(1) {
      width: 50%;
      border-right: 0.3px solid white;
      height: 7%;
      padding-right: 20px;
    }
    td:nth-child(2) {
      padding-left: 10px;
    }
  }
  tr,
  td {
    font-size: 0.8rem;
    // border-bottom: 0.5px solid white;
    // border-collapse: collapse;
  }
}
